# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# macOS resource files
.DS_Store
.idea/

# files used for tests
sys_file/
encrypted_file/
decrypted_file/
original_file/

*.bin
*.pem